body {
    background-color: #47A6F5;
    text-align: center;
    font-size: 32px;
    color: white;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input {
    padding: 10px;
    border-radius: 10px;
    border-color: #015495;
}